@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
}
@media (max-width: 600px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 600px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.header__menu {
  margin: 0 0 0 10px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
@media (max-width: 600px) {
  .header__menu {
    min-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.header__singin {
  margin: 0 0 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 120px;
  text-align: right;
}
@media (max-width: 600px) {
  .header__singin {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header__singin_link {
  font-family: Releway;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 13px 32px;
  border-radius: 22.5px;
  background-color: #FF5F60;
}
.header__singin_link:hover {
  background-color: #bb2f2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(253, 253, 253, 0.89);
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
@media (max-width: 600px) {
  .menu__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.menu__item:not(:first-child) {
  margin-left: 7.5%;
}
.menu__link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.menu__link:hover {
  color: #FF5F60;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}