@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #6500FF;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  position: absolute;
}
.header__container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 630px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 630px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.header__menu {
  z-index: 2;
  margin: 0 0 0 10px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}
@media (max-width: 630px) {
  .header__menu {
    min-width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.header__singin {
  z-index: 2;
  margin: 0 100px 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 120px;
  text-align: right;
}
@media (max-width: 1000px) {
  .header__singin {
    margin: 0 0 0 10px;
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (max-width: 630px) {
  .header__singin {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header__singin_link {
  font-family: Releway;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 13px 32px;
  border-radius: 22.5px;
  background-color: #FF5F60;
}
.header__singin_link:hover {
  background-color: #bb2f2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(253, 253, 253, 0.89);
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
@media (max-width: 630px) {
  .menu__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.menu__item:not(:first-child) {
  margin-left: 7.5%;
}
.menu__link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.menu__link:hover {
  color: #FF5F60;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 1;
}

.main {
  padding: 250px 0 0 0;
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 -50px 0 0;
}
@media (max-width: 940px) {
  .main__text {
    margin: 0;
    text-align: center;
  }
}
.main__text_tattle {
  font-family: Raleway;
  font-size: 70px;
  font-weight: 700;
  color: #fff;
  line-height: 75px;
}
.main__text_subtittle {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  margin: 20px 0 0 0;
}
.main__text_link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: #FF5F60;
  margin: 50px 0 0 0;
}
@media (max-width: 940px) {
  .main__text_link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.main__text_link:hover {
  background-color: #bb2f2f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: rgba(253, 253, 253, 0.89);
}
.main__image_img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 940px) {
  .main__image_img {
    display: none;
  }
}